<div class="share-page">
  <span style="float: left;">Share this on &rarr;&nbsp;&nbsp;</span>

  <!-- Twitter / X -->
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ site.url }}{{ page.url | url_encode }}&amp;via={{ site.share.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer">Facebook</a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url | url_encode }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</div>
